<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="none">
		<style>
		body{
			font-family:Ubuntu,sans-serif;
			font-size:100%;
			background-color:#fff;
		}
		h1{
			color:black;
			border-bottom: 1px solid #5d7;
			text-align:center;
			font-size:2em;
			font-weight:bold;
		}
		</style>
		<title>The request you have sent looks malicious!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<h1>The request you have sent looks malicious!</h1>
		<p>You may get access after completing the following captcha!</p>
		<p><img src="{{CAPTCHA}}"></p>
		<form action="" method="post">
			<input type="text" name="captcha" placeholder="Please fill in the characters shown above!" style="width:250px;">
			<input type="hidden" name="nonce" value="{{NONCE}}"><br>
			<input type="submit" name="Send">
		</form>
	</body>
</html>
